/* Estilos para o corpo da página */
body {
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
    height: 100vh; /* Define a altura do corpo como 100% da altura da janela de visualização */
    display: flex; /* Usa layout flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-image: url('background1.jpg'); /* Define a imagem de plano de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área do corpo */
    transition: background-image 0.5s ease; /* Adiciona uma transição suave para a mudança de plano de fundo */
}

/* Estilos para o título */
h1 {
    color: #fff; /* Cor do texto */
}

/* Estilos para o botão */
button {
    padding: 10px 20px; /* Adiciona preenchimento interno */
    font-size: 16px; /* Define o tamanho da fonte */
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
    background-color: #2ecc71; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor do botão */
}

/* Estilos para o botão ao passar o mouse sobre ele */
button:hover {
    background-color: #27ae60; /* Cor de fundo alterada ao passar o mouse sobre o botão */
}